*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* SIDEBAR */
.main-content{
  display: flex;
}
.SideBar-container {
  background-color: #4CAF50;
  width: 15%;
  height: 100vh;
  padding: 20px; 
  box-sizing: border-box; 
}

.SideBar-ul {
  padding: 0;
}

.SideBar-ul li {
  list-style-type: none;
  margin-bottom: 10px;
}

.SideBar-ul li button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #388E3C; 
  color: #FFFFFF;
  cursor: pointer;
}

.SideBar-ul li button:hover {
  background-color: #2E7D32; 
}
/* ContentContainer */
.Content-container{
  margin-left: 20rem;
}